main h3, main h5 {
  color: #1a1e24;
  text-align: center; }

main hr {
  height: 0.2em;
  border: none;
  background: #142136;
  width: 98%; }

main aside ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none; }
  main aside ul li {
    background: #1f1e1e;
    border-radius: 1em;
    color: #8f8989;
    margin: 1em 3em 1em 0;
    padding: 1em 1em 1em 1em; }
