body {
	background: #808080;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: #666666;
}

header > img {
	max-height: 175px;
	width: 100%;
	height: 100%;
	@media screen and (max-width: 250px)
	{
		display: none;
	}
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	.mainStuff {
		color: #8f8989;
		background: #1f1e1e;
		margin: 1.3em 0 1.3em 1.3em;
		border-radius: 0.65em;
		display: flex;
		flex-direction: column;
		flex-basis: 60em;
		flex-grow: 0;
		flex-shrink: 0;
		.main > .text {
			display: flex;
			flex-direction: column;
		}
		.main {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			img {
				height: 22em;
				margin-right: 3.25em;
				align-self: center;
			}
		}
		h2 {
			font-size: 30px;
		}
		p {
			width: 50%;
		}
		h2, p {
			margin-left: 1.95em;
		}
		hr {
			height: 1px;
			border: none;
			background: #c4bbbb;
			width: 95%;
		}
	}
	.quotes {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 1.3em 1.3em 0 1.3em;
		p {
			text-align: center;
			text-shadow: 0.07em 0.07em #1f1e1e;
		}
	}
}