main {
	@media screen and (max-width: 1100px) 
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	.main-stuff {
		color: #8f8989;
		background: #1f1e1e;
		margin: 1.3em 0 1.3em 1.3em;
		border-radius: 0.65em;
		display: flex;
		flex-direction: column;
		flex-basis: 60em;
		flex-grow: 0;
		flex-shrink: 0;
		@media screen and (max-width: 700px) 
		{
			align-items: center;
		}
		.main > .text {
			display: flex;
			flex-direction: column;
			@media screen and (max-width: 700px) 
			{
				align-items: center;
			}
		}
		.main {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			img {
				@media screen and (max-width: 700px) 
				{
					display: none;
				}
				height: 22em;
				margin-right: 3.25em;
				align-self: center;
			}
		}
		p {
			width: 50%;
		}
		h2, p {
			margin-left: 1.95em;
		}
		hr {
			height: 1px;
			border: none;
			background: #c4bbbb;
			width: 95%;
		}
	}
	.quotes {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 1.3em 1.3em 0 1.3em;
		p {
			text-align: center;
			text-shadow: 0.07em 0.07em #1f1e1e;
		}
	}
}