body {
	background: #808080;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: #666666;
}

header > img {
	max-height: 175px;
	width: 100%;
	height: 100%;
	@media screen and (max-width: 250px)
	{
		display: none;
	}
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	.mainStuff {
		color: #8f8989;
		background: #1f1e1e;
		margin: 20px 0px 20px 20px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		flex-basis: 1000px;
		flex-grow: 0;
		flex-shrink: 0;
		.main > .text {
			display: flex;
			flex-direction: column;
		}
		.main {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			img {
				height: 350px;
				width: 480px;
				margin-right: 50px;
				align-self: center;
			}
		}
		h2 {
			font-size: 30px;
		}
		p {
			width: 50%;
		}
		h2, p {
			margin-left: 30px;
		}
		hr {
			height: 1px;
			border: none;
			background: #c4bbbb;
			width: 95%;
		}
	}
	.quotes {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 20px 20px 0 20px;
		p {
			text-align: center;
		}
	}
}

nav {
	width: 100%;
	background: #dbc200;
}

nav .arrowDown {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  transform: rotate(45deg);
}

nav .arrowRight {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  transform: rotate(-45deg);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

nav .first > li {
	display: inline-block;
}

nav .first > li > a {
	background: #dbc200;
	color: #1d0052;
	display: block;
	font-size: 20px;
	margin: 0;
	padding: 0.75em 0.75em 0.75em 0.75em;
	position: relative;
	text-align: left;
	text-decoration: none;
}

nav .second > li > a {
	background: #58d400;
	color: #1d0052;
	display: block;
	font-size: 15px;
	margin: 0;
	padding: 0.75em 0.75em 0.75em 0.75em;
	position: relative;
	text-align: left;
	text-decoration: none;
}

nav .third > li > a {
	background: #ffae00;
	color: #1d0052;
	display: block;
	font-size: 15px;
	margin: 0;
	padding: 0.75em 0.75em 0.75em 0.75em;
	position: relative;
	text-align: left;
	text-decoration: none;
}

nav .second, .third {
	position: absolute;
	display: none;
}

nav .third {
	top: 0;
	right: 0;
	transform: translate(100%, 0);
}


nav .first > li:hover > a {
	background: #a37500;
	cursor: pointer;
}

nav .second > li:hover > a {
	background: #45a600;
	cursor: pointer;
}

nav .third > li:hover > a {
	background: #cc8b00;
	cursor: pointer;
}

nav .second li, .third li {
	position: relative;
}

nav .first > li:hover .second, nav .second > li:hover .third {
	display: block;
}
