body {
	background: #808080;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: #666666;
}

header > img {
	max-height: 175px;
	width: 100%;
	height: 100%;
	@media screen and (max-width: 250px)
	{
		display: none;
	}
}

main {
	h3, h5 {
		color: #1a1e24;
		text-align: center;
	}
	hr {
		height: 0.2em;
		border: none;
		background: #142136;
		width: 98%;
	}
	section {
		ul {	
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			list-style-type: none;
			li {
				background: #1f1e1e;
				border-radius: 1em;
				color: #8f8989;
				margin: 1em 3em 1em 0;
				padding: 1em 1em 1em 1em;
			}
		}
		
	}
}