main {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 90%;
	margin: 0 auto;
	.main-stuff {
		color: #8f8989;
		background: #1f1e1e;
		margin: 1.5em 0 1.5em 1.5em;
		border-radius: 0.75em;
		h2 {
			text-align: center;
		}
		hr {
			height: 0.03em;
			border: none;
			background: #c4bbbb;
			width: 95%;
		}
		.main {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;
			p {
				padding: 0 1.5em 0 1.5em;
				text-align: center;
			}
			img {
				width: 40em;
				height: 20em;
				@media screen and (max-width: 740px) 
				{
					width: 35em;
				} 
				@media screen and (max-width: 650px) 
				{
					width: 30em;
				}
				@media screen and (max-width: 560px) 
				{
					width: 25em;
				} 
				@media screen and (max-width: 470px) 
				{
					width: 20em;
				}
				@media screen and (max-width: 380px) 
				{
					width: 15em;
				} 
				@media screen and (max-width: 290px) 
				{
					width: 10em;
				}
			}
		}
	}
}